* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Header */
#header-nav {
  padding: 0;
  background: rgba(255, 252, 252, 0.3);
}

.container-fluid {
  background: linear-gradient(45deg, #ffffff, #5c5e5c);
  box-shadow: 0px 4px 8px #fff;
}

.container-fluid::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../src/img/fondoGame3.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.3;
  left: 0;
}

.navbar-toggler-icon {
  position: relative;
}

.navbar-ul {
  align-items: center;
  padding: 0.3rem;
  position: relative;
}

.navbar-ul > li {
  padding-left: 1rem;
  align-items: center;
  font-size: 1.1rem;
  font-weight: bold;
}

.foto-usuario {
  width: 2.5rem;
  border-radius: 50%;
  border: 1px solid #06e42b;
  box-shadow: 2px 2px 4px #000;
}

.btn-puntajes {
  background: linear-gradient(45deg, #08b12c, #06e42b);
  color: #fff;
  font-weight: bold;
  text-shadow: 1px 1px 2px black;
  width: 6rem;
  padding: 0.2rem;
  font-size: 0.8rem;
  border-radius: 2rem;
  border: 1px solid rgb(77, 75, 75);
  box-shadow: 2px 2px 6px black;
}

.btn-puntajes:hover {
  background: rgb(19, 150, 19);
  transform: scale(1.05);
  transition: background, transform 0.5s;
  transition: transform 0.5s;
}
/************************************************************************************************/
/************************************************************************************************/
/************************************************************************************************/
body {
  background-image: url("../src/img/fondoGame3.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.contenedor-general {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cronometro {
  text-align: right;
  color: #06e42b;
  font-weight: bold;
  text-shadow: 0 0 1rem rgb(255, 255, 255);
  margin-right: 5rem;
  position: fixed;
  bottom: 30%;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 0.1rem;
  border-radius: 1rem;
}

.contenedor-cartas {
  width: 60%;
  margin: auto;
  padding: 0.5rem 0 0.5rem 0;
  background-image: url("../src/img/fondoGame3.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.row {
  margin: 0;
  padding: 0;
}
.col {
  margin: 0;
  padding: 0;
}

.tarjeta {
  position: relative;
  /* width: 5rem; */
  height: 8rem;
  margin: 0.3rem;
}

.tarjeta .face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border: 1px solid black;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.5s;
  background: linear-gradient(45deg, #08b12c, #06e42b);
}

.tarjeta .front {
  transform: perspective(600px) rotateY(0deg);
  box-shadow: 0 5px 10px rgb(255, 252, 252);
}

.tarjeta .front img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 2px double rgb(0, 0, 0);
}

.tarjeta .back {
  transform: perspective(600px) rotateY(180deg);
  background: rgb(10, 40, 70);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  box-shadow: 0 5px 10px rgb(255, 255, 255);
}

.tarjeta .back img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tarjeta .back p {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1.5rem;
  margin: 0;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
}

.tarjeta:hover .front {
  cursor: pointer;
}

.tarjeta:hover .back {
  cursor: pointer;
}

/* FOOTER */
footer {
  margin-bottom: 0.5rem;
}

.footer-link {
  margin-top: 0.5rem;
  text-align: center;
}

.footer-link > p {
  width: 20rem;
  margin: auto;
  padding: 2px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
}

.footer-link >p>a {
  /* text-decoration: none; */
  color:white;
  font-weight: bold;
}

.footer-link >p :hover{
  color: orange;
  transition: color 0.5s;
}

@media screen and (max-width: 765px) {
  .contenedor-cartas {
    width: 90%;
  }  
  .cronometro {
    top: 4px;
    right: 4px;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.8);
    width: fit-content;
    height: fit-content;
    margin: 0;
    padding: 0.1rem;
    border-radius: 1rem;
  }
}

@media screen and (max-width: 420px) {
  .contenedor-cartas {
    width: 100%;
  }

  .tarjeta {
    position: relative;
    /* width: 5rem; */
    height: 8rem;
    margin: 1rem 0.1rem;
  }
  
  .tarjeta .back p {
    font-size: 0.8rem;
  }
}
