/* VENTANA MODAL */
.usuarios-puntajes {
  background: rgba(0, 0, 0, 0.8);
  border-radius: 0.5rem;
  color: #06e42b;
  padding: 0.5rem;
  font-size: 2rem;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
  position: relative;
  box-shadow: 0 0 1rem #06e42b;
}

#contenedor-modal-puntajes {
  z-index: 2000;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  text-align: center;
}

#contenedor-modal-puntajes::before {
  content: "X";
  color: #fff;
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 2em;
  opacity: 0.8;
  cursor: pointer;
  box-shadow: 0 0 1em rgb(247, 3, 3);
  background-color: rgba(247, 3, 3, 0.253);
}

#contenido-modal-puntajes {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  height: 70vh;
  max-width: 1000px;
  margin: auto;
  border-radius: 2rem;
  border: 2px dotted greenyellow;
  box-shadow: 4px 4px 4px gray;
  position: relative;
}

#contenido-modal-puntajes::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  background-image: url("../src/img/backgroundPuntajes.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  /* opacity: 0.6; */
  left: 0;
}

/* ESTILOS DE TABLA PUNTAJES*/
.tabla-puntajes {
  position: relative;
  margin-top: 1rem;
  color: #fff;
}

table {
  text-align: center;
  border-collapse: collapse;
  width: 100%;
  box-shadow: 0 0 1rem #06e42b;
}

th,
td {
  padding: 0 0.5rem;
}

tbody {
  background-color: rgba(0, 0, 0, 0.8);
}

tr:nth-child(1) {
  background-color: rgba(204, 207, 5, 0.8);
}

tr:nth-child(2) {
  background-color: rgba(167, 164, 164, 0.8);
}

tr:nth-child(3) {
  background-color: rgba(116, 67, 53, 0.8);
}

tr:hover td {
  background-color: rgba(0, 255, 42, 0.699);
  text-shadow: 1px 1px 2px black;
  cursor: pointer;
}

.tabla-th {
  background-color: #06e42b;
  border-bottom: groove 2px black;
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 2px black;
}

.usuario-id {
  animation-name: usuario-id;
  animation-duration: 2s;
  animation-delay: 0.1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes usuario-id {
  0% {
    background-color: rgba(10, 17, 126, 0.5);
  }
  50% {
    color: rgb(253, 253, 253);
    background-color: rgba(247, 3, 3, 0.801);
  }
  100% {
    background-color: rgba(10, 17, 126, 0.5);
  }
}

@media screen and (max-width: 762px) {
  #contenido-modal-puntajes::before {
    background-position: center;
  }
}

@media screen and (max-width: 420px) {
  #contenido-modal-puntajes {
    width: 95%;
  }
}
